<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="_csrf_parameter" content="_csrf" /><meta name="_csrf_header" content="X-CSRF-TOKEN" /><meta name="_csrf" content="034c725f-f3d7-40d2-8a7d-f57acfbbc947" /><meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="canonical" href="http://www.st-andrews.ac.uk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="copyright" content="Copyright &copy; University of St Andrews"/>
    <meta name="rating" content="general"/>
    <meta name="dc.keywords" content="University"/>

    <link href="//www.st-andrews.ac.uk/~cdn/dpl/1.26.0/styles/screen.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="//www.st-andrews.ac.uk/~cdn/dpl/1.26.0/styles/print.css" rel="stylesheet" type="text/css" media="print"/>
    <!--[if lt IE 9]>
    <link href="//www.st-andrews.ac.uk/~cdn/dpl/1.26.0/styles/ie.css" rel="stylesheet" type="text/css" media="screen" />
    <![endif]-->
    </head>
<body>
    <div class="sr-only">
        <a class="skip" href="#content-begin">Skip to content</a>
    </div>
    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="//www.st-andrews.ac.uk/~cdn/dpl/1.26.0/scripts/core.js"></script>
</body>
</html>